DOMAIN= localhost
PORT = 80
HOME_URL = https://${DOMAIN}:${PORT}
DATABASE_URL="postgresql://postgres:123@localhost:5434/nest?schema=public"
JWT_SECRET='super-secret'
JWT_EXPIRES_IN='1h'
JWT_RT_SECRET='rt-super-secret'
JWT_RT_EXPIRES_IN='7days'

MAIL_HOST='smtp.mailtrap.io' # add mailtrap host
MAIL_PORT= 2525
MAIL_USER='' # add mailtrap user
MAIL_PASSWORD='' # add mailtrap password
MAIL_FROM='noreply@example.com' # add mailtrap from
MAIl_COFIRM_URL = https://${DOMAIN}/auth/confirm
MAIL_FROM = '"Support Team" <support@appycodes-blog.com>'
CLOUDINARY_CLOUD_NAME = '' #add your cloudinary cloud name
CNOUDINARY_API_KEY = '' #add your cloudinary api key
CLOUDINARY_API_SECRET = '' # add your cloudinary api secret
